section {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

form {
    background-color: var(--cards);
    width: 80vw;
    max-width: 450px;
    min-height: 50vh;
    padding: 30px 50px !important;
    gap: 20px;
}

form input {
    width: 100%;
}

form .input-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form .alert-danger {
    margin: 0;
}

@media only screen and (max-width: 320px) {
    form {
        min-width: 95vw;
    }
}

span.noacc {
    color: var(--nav-text);
    margin-top: 10px;
    font-size: 14px;
}
